/*Обнуляющие стили начало*/
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 3px;
}

p {
	margin: 0;
	font-size: 18px;
	line-height: 25px;
}

/*Обнуляющие стили конец*/

.container {
	max-width: 1440px;
	margin: 0 auto;
}

/*Стили для общего блока header и main начало*/
.main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 2080px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("./src/mainbackstage.jpg");
	background-color: rgba(0, 0, 0, 0.4);
}

/**/
.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 0;
}

.header-container {
	max-width: 940px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

.header__menu {
	display: flex;
	gap: 24px;
}
.main {
	width: 100%;
	max-width: 800px;
}

.main-content__background {
	display: flex;
	flex-direction: row-reverse;
	gap: 190px;
	width: 100%;
	height: 330px;
}
.main-content__background:nth-child(1) {
	background-image: url("./src/block__one.jpg");
}

.main-content__theme {
	padding-top: 20px;
	padding-right: 20px;
	color: #fff;
}

.theme-icon {
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	font-size: 8px;
	line-height: 24px;
	align-self: center;
}
.main-content__info {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	padding: 160px 80px 40px 60px;
	color: #fff;
}

.user-info {
	display: flex;
	gap: 14px;
}

.user-name {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 19px;
}

.user-date {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 19px;
}

.article-title {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 35px;
}
.user-info__text {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.main-content__text {
	height: 180px;
	background-color: #fff;
	padding: 36px 76px 35px 60px;
}

.main-content__link {
	color: #8d4fdb;
	font-size: 17px;
	line-height: 30px;
}
/*Стили для общего блока header и main конец*/

/* Стили для блока middle начало*/
.middle {
	width: 100%;
	height: 678px;
}

.middle-container {
	max-width: 940px;
}
/* Стили для блока middle конец*/

/*Стиля для блока footer начало*/
.footer {
	width: 100%;
	height: 166px;
	background-color: #000000;
}
.footer-container {
	color: white;
	max-width: 940px;
}

/*Стиля для блока footer конец*/
